workflows/Content Gen - Raise.json
{
  "createdAt": "2022-11-21T13:16:45.678Z",
  "updatedAt": "2022-11-21T13:55:23.019Z",
  "id": 2,
  "name": "Content Gen - Raise",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        1580,
        1360
      ],
      "id": "c11773d8-4a98-44e2-81cf-97eb0ccc5aea"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"SplitInBatches\"].context[\"noItemsLeft\"]}}"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1360,
        1160
      ],
      "id": "7a8c01d3-b828-495c-88d1-b41e492511d6"
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2000,
        1180
      ],
      "id": "8789d653-f36e-4110-8cde-70ba86ac45fa"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "key",
              "cssSelector": ":root"
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract1",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1640,
        240
      ],
      "id": "7b77e57c-f00c-4ba6-864e-6bc28b6fd842"
    },
    {
      "parameters": {
        "functionCode": "var s = $node[\"Request\"].json[\"title\"][\"rendered\"];\ns = [s.substring(0, s.indexOf('Raises')-1)];\nreturn [{json: s}];\n"
      },
      "name": "Company",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        840,
        240
      ],
      "id": "f76ee2ce-3e08-4483-a4ad-5fa2db7dd55c"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Request\"].json[\"title\"][\"rendered\"]}}",
              "operation": "contains",
              "value2": "$"
            },
            {
              "value1": "={{$node[\"Request\"].json[\"title\"][\"rendered\"]}}",
              "operation": "contains",
              "value2": "Raises"
            },
            {
              "value1": "={{$node[\"Request\"].json[\"title\"][\"rendered\"]}}",
              "operation": "contains",
              "value2": "in"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        980,
        520
      ],
      "id": "d173ebd9-154f-45fa-9917-1a83d909ef78"
    },
    {
      "parameters": {
        "functionCode": "var s = $node[\"Request\"].json[\"title\"][\"rendered\"];\ns = [s.substring(0, s.indexOf('in'))];\nreturn [{json: s}];\n"
      },
      "name": "Raises1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1000,
        240
      ],
      "id": "f820bc29-e805-456d-af5a-829679aef0a2"
    },
    {
      "parameters": {
        "functionCode": "var str = $node[\"Raises1\"].json[\"0\"];\nstr = [str.substring(str.indexOf(\"Raises\") +8)];\nreturn [{json: str}];\n"
      },
      "name": "Raises",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1160,
        240
      ],
      "id": "307c1ea2-b294-42c0-8cf4-377f49d3ce3a"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Company",
              "value": "={{$node[\"Company\"].json[\"0\"]}}"
            },
            {
              "name": "Raise",
              "value": "={{$node[\"Raises\"].json[\"0\"]}}"
            },
            {
              "name": "Type",
              "value": "={{$node[\"Type\"].json[\"0\"]}}"
            },
            {
              "name": "Content",
              "value": "={{$node[\"RemoveBrand\"].json[\"0\"]}}"
            },
            {
              "name": "Title",
              "value": "={{$node[\"Company\"].json[\"0\"]}} lève {{$node[\"Raises\"].json[\"0\"]}} - {{$node[\"Type\"].json[\"0\"]}}"
            },
            {
              "name": "ID",
              "value": "={{$node[\"Request\"].json[\"id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2800,
        480
      ],
      "id": "6bda63c2-54bb-445e-afc3-222d8f108006"
    },
    {
      "parameters": {
        "functionCode": "var str = $node[\"Request\"].json[\"title\"][\"rendered\"];\nstr = [str.substring(str.indexOf(\" in \") +4)];\nreturn [{json: str}];\n"
      },
      "name": "Type",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1320,
        240
      ],
      "id": "ffc71f14-d160-47dd-8364-32ee30dfc7cb",
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "data",
              "value": "={{$node[\"Request\"].json[\"content\"][\"rendered\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1480,
        240
      ],
      "id": "502f3d56-7543-4bc5-9af7-bd8e1689dc8d"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://translate.uclic.fr/translate",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "q",
              "value": "={{$node[\"HTML Extract1\"].json[\"key\"]}}"
            },
            {
              "name": "source",
              "value": "en"
            },
            {
              "name": "target",
              "value": "fr"
            }
          ]
        }
      },
      "name": "Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1820,
        240
      ],
      "id": "aec0fe37-8eda-4aa6-9a36-26e6b18fdc9e",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://translate.uclic.fr/translate",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "q",
              "value": "={{$node[\"Request\"].json[\"title\"][\"rendered\"]}}"
            },
            {
              "name": "source",
              "value": "en"
            },
            {
              "name": "target",
              "value": "fr"
            }
          ]
        }
      },
      "name": "Title",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2000,
        240
      ],
      "id": "1c7e0756-1d4e-49eb-b35a-61e34d87b887",
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://translate.uclic.fr/translate",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "q",
              "value": "={{$node[\"Company\"].json[\"0\"]}}"
            },
            {
              "name": "source",
              "value": "en"
            },
            {
              "name": "target",
              "value": "fr"
            }
          ]
        }
      },
      "name": "TranslateCompanyFix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2180,
        240
      ],
      "id": "542ee825-d664-4343-a0cb-000e6b5aff42",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "someString = $node[\"Content\"].json[\"translatedText\"];\npasok = $node[\"TranslateCompanyFix\"].json[\"translatedText\"];\nok = $node[\"Company\"].json[\"0\"];\nanotherString = [someString.replace(pasok, ok)];\nreturn [{json: anotherString}];\n"
      },
      "name": "FixCompanyName",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2380,
        240
      ],
      "id": "3f50c4b6-bbb3-47ad-b21a-d4887bf330fc"
    },
    {
      "parameters": {
        "functionCode": "var str = $node[\"FixCompanyName\"].json[\"0\"];\nstr = [str.substring(0, str.length - 24)];\nreturn [{json: str}];\n"
      },
      "name": "RemoveBrand",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2560,
        240
      ],
      "id": "db2e24eb-cdd6-4c75-84ec-c283e5e75a09"
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "1c8kBO5x3D7QmUqo-9c1OIM-drRuDumB82tIjvZiVe2k",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        3000,
        480
      ],
      "id": "dd00c18a-5d2a-4741-9718-0ff2db94512c",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        320,
        780
      ],
      "id": "694f8868-c59c-49fc-9340-bfeca6896363"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "myTest",
              "value": "=https://www.finsmes.com/wp-json/wp/v2/posts/{{$node[\"SplitInBatches\"].json[\"id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        540,
        800
      ],
      "id": "e00d827a-49d6-45a9-bdff-87aa4d5217bc"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Request\"].json[\"error\"][\"error\"][\"message\"]}}",
              "operation": "contains",
              "value2": "Invalid"
            }
          ]
        }
      },
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        760,
        540
      ],
      "id": "203090df-830d-4855-a9bf-65f2e9372880"
    },
    {
      "parameters": {
        "url": "={{$node[\"Set1\"].json[\"myTest\"]}}",
        "options": {}
      },
      "name": "Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        840,
        800
      ],
      "id": "c30b8eac-4750-4c79-876e-c6e2f06efd4c",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "1c8kBO5x3D7QmUqo-9c1OIM-drRuDumB82tIjvZiVe2k",
        "lookupColumn": "ID",
        "lookupValue": "={{$node[\"Request\"].json[\"id\"]}}",
        "options": {
          "continue": "=true"
        }
      },
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        1220,
        440
      ],
      "id": "8d3d70a8-bf41-48c3-b7ff-bc975a448f0c",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [],
          "boolean": [
            {
              "value1": "={{$node[\"Google Sheets1\"].json[\"ID\"].length>0}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IFexist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1420,
        440
      ],
      "id": "da3f3e9c-0a08-40bc-a52f-e3f06389f00b"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://uclic.fr/wp-json/wp/v2/typelevee?name={{$node[\"Type\"].json[\"0\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": []
        },
        "queryParametersUi": {
          "parameter": []
        }
      },
      "name": "Term",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2180,
        800
      ],
      "alwaysOutputData": true,
      "id": "5e44e61f-39fb-48ea-be45-9f08dd7910f7",
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "Wordpress"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{$node[\"Term\"].json[\"error\"][\"error\"][\"additional_data\"][0]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "SetExist",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2700,
        720
      ],
      "id": "e1f4044c-9955-4faa-a880-2d29a216182a"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [],
          "number": [
            {
              "name": "id",
              "value": "={{$node[\"Term\"].json[\"id\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "CreateIDTerm",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2700,
        900
      ],
      "alwaysOutputData": false,
      "id": "8c1444fc-271e-462e-acca-6115acf0ca35"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://uclic.fr/wp-json/wp/v2/levee",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "typelevee",
              "value": "={{$node[\"SetExist\"].json[\"id\"]}}"
            },
            {
              "name": "title",
              "value": "={{$node[\"Company\"].json[\"0\"]}} lève {{$node[\"Raises\"].json[\"0\"]}} - {{$node[\"Type\"].json[\"0\"]}}"
            },
            {
              "name": "content",
              "value": "={{$node[\"RemoveBrand\"].json[\"0\"]}}"
            },
            {
              "name": "status",
              "value": "publish"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": []
        }
      },
      "name": "WP2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2960,
        720
      ],
      "id": "7f877f01-ee21-44d1-9dad-a10553c3fe34",
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "Wordpress"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://uclic.fr/wp-json/wp/v2/levee",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "typelevee",
              "value": "={{$node[\"CreateIDTerm\"].json[\"id\"]}}"
            },
            {
              "name": "title",
              "value": "={{$node[\"Company\"].json[\"0\"]}} lève {{$node[\"Raises\"].json[\"0\"]}} - {{$node[\"Type\"].json[\"0\"]}}"
            },
            {
              "name": "content",
              "value": "={{$node[\"RemoveBrand\"].json[\"0\"]}}"
            },
            {
              "name": "status",
              "value": "publish"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": []
        }
      },
      "name": "WP4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2960,
        900
      ],
      "id": "5584c66d-d234-4189-87e0-f03525922fc7",
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "Wordpress"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://uclic.fr/wp-json/wp/v2/levee/{{$node[\"WP4\"].json[\"id\"]}}",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "=json"
        },
        "bodyParametersJson": "={ \"acf\":{ \"id\":\"{{$node[\"Request\"].json[\"id\"]}}\", \"date\":\"{{$node[\"Request\"].json[\"date\"]}}\", \"company\":\"{{$node[\"Company\"].json[\"0\"]}}\", \"raise\":\"{{$node[\"Raises\"].json[\"0\"]}}\", \"type\":\"{{$node[\"Type\"].json[\"0\"]}}\",\"img\":\"{{$node[\"Request1\"].json[\"media_details\"][\"file\"]}}\" } }"
      },
      "name": "WP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3260,
        900
      ],
      "alwaysOutputData": true,
      "id": "8af7f000-3d75-4216-979a-d55b9e3753d7",
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "Wordpress"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://uclic.fr/wp-json/wp/v2/levee/{{$node[\"WP2\"].json[\"id\"]}}",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "=json"
        },
        "bodyParametersJson": "={ \"acf\":{ \"id\":\"{{$node[\"Request\"].json[\"id\"]}}\", \"date\":\"{{$node[\"Request\"].json[\"date\"]}}\", \"company\":\"{{$node[\"Company\"].json[\"0\"]}}\", \"raise\":\"{{$node[\"Raises\"].json[\"0\"]}}\", \"type\":\"{{$node[\"Type\"].json[\"0\"]}}\",\"img\":\"{{$node[\"Request1\"].json[\"media_details\"][\"file\"]}}\" } }"
      },
      "name": "WP3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        3260,
        720
      ],
      "alwaysOutputData": true,
      "id": "baf44d32-5f11-47cd-9553-76e6c0e84d18",
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "Wordpress"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [],
          "string": [
            {
              "value1": "={{$node[\"Term\"].json[\"error\"][\"error\"][\"code\"]}}",
              "operation": "contains",
              "value2": "exis"
            },
            {
              "value1": "={{$node[\"Trad Description\"].json[\"translations\"][0][\"text\"]}}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2500,
        800
      ],
      "id": "b3e75cf9-892a-4553-99cf-c4f6d1598f38"
    },
    {
      "parameters": {
        "url": "={{$node[\"Request\"].json[\"_links\"][\"wp:featuredmedia\"][0][\"href\"]}}",
        "options": {}
      },
      "name": "Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        660,
        360
      ],
      "id": "f4241a7e-d546-442a-94ca-f0035a2ecfa4",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const newItems = [];\nvar val = $node[\"HTTP Request\"].json[\"0\"][\"id\"]+20;\n\nfor (let i=0;i<200;i++) {\n  newItems.push({json: {number: val-i}})\n}\nreturn newItems;"
      },
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        80,
        440
      ],
      "id": "447945e4-321a-45d2-91a5-4b1b3d29b177",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://finsmes.com/wp-json/wp/v2/posts?order=desc&status=publish&per_page=100",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -100,
        700
      ],
      "id": "61d6ec3a-bd8b-4aa2-ba2d-e23f8aaf184f"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -300,
        720
      ],
      "id": "47ab4c9b-4ca4-4fe7-86f1-1bad5b1b01dc"
    },
    {
      "parameters": {
        "functionCode": "return items[0].json.map(item => {\n  return {\n    json: item\n  }\n});\n"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        100,
        700
      ],
      "id": "72201271-4ef1-4440-8cb9-cca73d781bdd"
    }
  ],
  "connections": {
    "IF1": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract1": {
      "main": [
        [
          {
            "node": "Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company": {
      "main": [
        [
          {
            "node": "Raises1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raises1": {
      "main": [
        [
          {
            "node": "Raises",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raises": {
      "main": [
        [
          {
            "node": "Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Type": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "HTML Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content": {
      "main": [
        [
          {
            "node": "Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title": {
      "main": [
        [
          {
            "node": "TranslateCompanyFix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TranslateCompanyFix": {
      "main": [
        [
          {
            "node": "FixCompanyName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FixCompanyName": {
      "main": [
        [
          {
            "node": "RemoveBrand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RemoveBrand": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Term",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "IFexist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IFexist": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Term": {
      "main": [
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetExist": {
      "main": [
        [
          {
            "node": "WP2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateIDTerm": {
      "main": [
        [
          {
            "node": "WP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP2": {
      "main": [
        [
          {
            "node": "WP3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP4": {
      "main": [
        [
          {
            "node": "WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "SetExist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CreateIDTerm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP3": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request1": {
      "main": [
        [
          {
            "node": "Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "pinData": {},
  "tags": [],
  "hash": "d7a18cbda37693f336f28700580a3c17"
}