workflows/Lead Gen - ProductHunt.json
{
  "createdAt": "2022-11-21T14:07:16.661Z",
  "updatedAt": "2022-11-21T14:08:03.013Z",
  "id": 7,
  "name": "Lead Gen - ProductHunt",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "path": "51c4fa01-4647-4b87-9940-9a00faf6c8de",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -6620,
        -3700
      ],
      "webhookId": "51c4fa01-4647-4b87-9940-9a00faf6c8de",
      "id": "cfce519d-18fb-4a05-9708-e434117c83d6"
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "144T4EojoiYvSKireixDAu3f_aPVOfmYCPIrxbEBWUVw",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        -5560,
        -3680
      ],
      "id": "fefacfac-bd23-41a6-bb8f-e1699857b1d1",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "fullname",
              "value": "={{$node[\"Webhook\"].json[\"query\"][\"fullname\"]}}"
            },
            {
              "name": "company",
              "value": "={{$node[\"Webhook\"].json[\"query\"][\"company\"]}}"
            },
            {
              "name": "twitter",
              "value": "={{$node[\"Webhook\"].json[\"query\"][\"twitter\"]}}"
            },
            {
              "name": "phprofil",
              "value": "={{$node[\"Webhook\"].json[\"query\"][\"phprofil\"]}}"
            },
            {
              "name": "linkedin",
              "value": "={{$node[\"HTTP Request\"].json[\"organic_results\"][0][\"link\"]}}"
            },
            {
              "name": "title",
              "value": "={{$node[\"HTTP Request\"].json[\"organic_results\"][0][\"title\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -5760,
        -3680
      ],
      "id": "5b70c9d1-27c4-4057-aa21-536bbaa08453"
    },
    {
      "parameters": {
        "url": "=https://api.scaleserp.com/search?api_key=941358FC66CE4E2A80948DD0C56C2E86&q=site%3Alinkedin.com%2Fin%2F+{{$node[\"Webhook\"].json[\"query\"][\"fullname\"]}}+{{$node[\"Webhook\"].json[\"query\"][\"company\"]}}",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -5980,
        -3680
      ],
      "id": "b8c3ccc0-6a7f-47e9-92a1-9d08115de1b7"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.captaindata.co/v2/16c20544-8c94-4dbe-8a41-285f0dff5992/workflows/56fdde19-4f33-469a-9806-0074b9b241c4/schedule",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n    \"inputs\": [\n        {\n            \"linkedin_profile_url\": \"{{$node[\"Google Sheets\"].json[\"linkedin\"]}}\"\n        }\n    ],\n    \"job_name\": \"n8n\",\n    \"steps\": [\n        {\n         \"accounts\": [\n                \"40e011a0-9ef2-4b27-9271-ab8540aeeda1\"\n            ],\n            \"parameters\": {\n                \"message\": \"Hello, congrats for the launch on Product Hunt! I love it!\"\n            },\n            \"step_uid\": \"7dc15bae-69d4-4266-9f75-a621896a4050\",\n            \"template_uid\": 148\n        }\n    ]\n}"
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -5180,
        -3320
      ],
      "id": "e7bd5e9a-bae5-4e4a-88ca-939bebeb044d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "lowercaseheadline",
              "value": "= {{$node[\"Google Sheets\"].json[\"title\"].toLowerCase()}}"
            },
            {
              "name": "lowercasecompany",
              "value": "={{$node[\"Google Sheets\"].json[\"company\"].toLowerCase()}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -5280,
        -3700
      ],
      "id": "ef1f7bd8-ef95-40b1-a7c5-07f7bc7cee33"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Set1\"].json[\"lowercaseheadline\"]}}",
              "operation": "contains",
              "value2": "={{$node[\"Set1\"].json[\"lowercasecompany\"]}}"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -5440,
        -3520
      ],
      "id": "07925bc4-7983-4083-a9e7-2259aea6f6b5"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.captaindata.co/v2/16c20544-8c94-4dbe-8a41-285f0dff5992/workflows/1d1b6ca7-52d3-4a35-9f31-09420262f9ef/schedule\n\n",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n    \"inputs\": [\n        {\n            \"twitter_profile_url\": \"https://twitter.com/{{$node[\"Webhook\"].json[\"query\"][\"twitter\"]}}\"\n        }\n    ],\n    \"job_name\": \"Follow + Message\",\n    \"steps\": [\n        {\n            \"accounts\": [\n                \"fba9dc56-9843-45b1-9867-3277daba034d\"\n            ],\n            \"parameters\": {\n                \"follow\": true\n            },\n            \"step_uid\": \"8e68b247-a19e-4535-84e4-0b3b52650cac\",\n            \"template_uid\": 140\n        },\n        {\n            \"accounts\": [\n                \"fba9dc56-9843-45b1-9867-3277daba034d\"\n            ],\n            \"parameters\": {\n                \"message\": \"Keep pushing! Well done for Product Hunt\"\n            },\n            \"step_uid\": \"75d56d86-303c-45a9-a46b-365633777c84\",\n            \"template_uid\": 763\n        }\n    ]\n}"
      },
      "name": "TW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -5180,
        -4020
      ],
      "id": "fb3870a2-d7ca-4cf1-a950-4f640e8fd862",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "144T4EojoiYvSKireixDAu3f_aPVOfmYCPIrxbEBWUVw",
        "lookupColumn": "twitter",
        "lookupValue": "={{$node[\"Webhook\"].json[\"query\"][\"twitter\"]}}",
        "options": {
          "continue": true
        }
      },
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        -6400,
        -3700
      ],
      "id": "b234b3e2-15be-48ad-85ef-3fc402795ab7",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Google Sheets1\"].json[\"twitter\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -6240,
        -3660
      ],
      "id": "b7edd4b9-7ce5-4bb1-8f53-936ac2352fec"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          },
          {
            "node": "TW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "pinData": {},
  "tags": [],
  "hash": "07acaec2e2f882d89acf2bbbfa7612f3"
}