workflows/Product Hunt LeadGen.json
{
  "id": 21,
  "name": "Product Hunt LeadGen",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        220,
        360
      ]
    },
    {
      "parameters": {
        "path": "51c4fa01-4647-4b87-9940-9a00faf6c8de",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -220,
        140
      ],
      "webhookId": "51c4fa01-4647-4b87-9940-9a00faf6c8de"
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "144T4EojoiYvSKireixDAu3f_aPVOfmYCPIrxbEBWUVw",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        840,
        160
      ],
      "credentials": {
        "googleApi": {
          "id": "1",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "fullname",
              "value": "={{$node[\"Webhook\"].json[\"query\"][\"fullname\"]}}"
            },
            {
              "name": "company",
              "value": "={{$node[\"Webhook\"].json[\"query\"][\"company\"]}}"
            },
            {
              "name": "twitter",
              "value": "={{$node[\"Webhook\"].json[\"query\"][\"twitter\"]}}"
            },
            {
              "name": "phprofil",
              "value": "={{$node[\"Webhook\"].json[\"query\"][\"phprofil\"]}}"
            },
            {
              "name": "linkedin",
              "value": "={{$node[\"HTTP Request\"].json[\"organic_results\"][0][\"link\"]}}"
            },
            {
              "name": "title",
              "value": "={{$node[\"HTTP Request\"].json[\"organic_results\"][0][\"title\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        640,
        160
      ]
    },
    {
      "parameters": {
        "url": "=https://api.scaleserp.com/search?api_key=941358FC66CE4E2A80948DD0C56C2E86&q=site%3Alinkedin.com%2Fin%2F+{{$node[\"Webhook\"].json[\"query\"][\"fullname\"]}}+{{$node[\"Webhook\"].json[\"query\"][\"company\"]}}",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        420,
        160
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.captaindata.co/v2/16c20544-8c94-4dbe-8a41-285f0dff5992/workflows/56fdde19-4f33-469a-9806-0074b9b241c4/schedule",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n    \"inputs\": [\n        {\n            \"linkedin_profile_url\": \"{{$node[\"Google Sheets\"].json[\"linkedin\"]}}\"\n        }\n    ],\n    \"job_name\": \"n8n\",\n    \"steps\": [\n        {\n         \"accounts\": [\n                \"40e011a0-9ef2-4b27-9271-ab8540aeeda1\"\n            ],\n            \"parameters\": {\n                \"message\": \"Hello, congrats for the launch on Product Hunt! I love it!\"\n            },\n            \"step_uid\": \"7dc15bae-69d4-4266-9f75-a621896a4050\",\n            \"template_uid\": 148\n        }\n    ]\n}"
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1220,
        520
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "13",
          "name": "CaptainData"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "lowercaseheadline",
              "value": "= {{$node[\"Google Sheets\"].json[\"title\"].toLowerCase()}}"
            },
            {
              "name": "lowercasecompany",
              "value": "={{$node[\"Google Sheets\"].json[\"company\"].toLowerCase()}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1120,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Set1\"].json[\"lowercaseheadline\"]}}",
              "operation": "contains",
              "value2": "={{$node[\"Set1\"].json[\"company\"]}}"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        960,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.captaindata.co/v2/16c20544-8c94-4dbe-8a41-285f0dff5992/workflows/1d1b6ca7-52d3-4a35-9f31-09420262f9ef/schedule\n\n",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n    \"inputs\": [\n        {\n            \"twitter_profile_url\": \"https://twitter.com/{{$node[\"Webhook\"].json[\"query\"][\"twitter\"]}}\"\n        }\n    ],\n    \"job_name\": \"Follow + Message\",\n    \"steps\": [\n        {\n            \"accounts\": [\n                \"fba9dc56-9843-45b1-9867-3277daba034d\"\n            ],\n            \"parameters\": {\n                \"follow\": true\n            },\n            \"step_uid\": \"8e68b247-a19e-4535-84e4-0b3b52650cac\",\n            \"template_uid\": 140\n        },\n        {\n            \"accounts\": [\n                \"fba9dc56-9843-45b1-9867-3277daba034d\"\n            ],\n            \"parameters\": {\n                \"message\": \"Keep pushing! Well done for Product Hunt\"\n            },\n            \"step_uid\": \"75d56d86-303c-45a9-a46b-365633777c84\",\n            \"template_uid\": 763\n        }\n    ]\n}"
      },
      "name": "TW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1220,
        -180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "13",
          "name": "CaptainData"
        }
      }
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "144T4EojoiYvSKireixDAu3f_aPVOfmYCPIrxbEBWUVw",
        "lookupColumn": "twitter",
        "lookupValue": "={{$node[\"Webhook\"].json[\"query\"][\"twitter\"]}}",
        "options": {
          "continue": true
        }
      },
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        0,
        140
      ],
      "credentials": {
        "googleApi": {
          "id": "1",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Google Sheets1\"].json[\"twitter\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        160,
        180
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          },
          {
            "node": "TW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "createdAt": "2022-09-15T07:33:43.172Z",
  "updatedAt": "2022-09-15T19:36:22.074Z",
  "settings": {},
  "staticData": null
}