workflows/Product Hunt.json
{
  "id": 6,
  "name": "Product Hunt",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -320,
        -260
      ]
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        880
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://uclic.fr/wp-json/wp/v2/topic?name={{$node[\"SplitInBatches\"].json[\"topics\"][0][\"name\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": []
        },
        "queryParametersUi": {
          "parameter": []
        }
      },
      "name": "Term",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "WP Uclic.fr"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{$node[\"Term\"].json[\"error\"][\"error\"][\"additional_data\"][0]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "SetExist",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        980,
        140
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [],
          "number": [
            {
              "name": "id",
              "value": "={{$node[\"Term\"].json[\"id\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "CreateIDTerm",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        980,
        340
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://uclic.fr/wp-json/wp/v2/producthunt",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "topic",
              "value": "={{$node[\"SetExist\"].json[\"id\"]}}"
            },
            {
              "name": "title",
              "value": "={{$node[\"HTTP Request1\"].json[\"post\"][\"name\"]}}"
            },
            {
              "name": "content",
              "value": "={{$node[\"Content\"].json[\"text\"]}}"
            },
            {
              "name": "status",
              "value": "publish"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": []
        }
      },
      "name": "WP2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1160,
        140
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "WP Uclic.fr"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://uclic.fr/wp-json/wp/v2/producthunt",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "topic",
              "value": "={{$node[\"CreateIDTerm\"].json[\"id\"]}}"
            },
            {
              "name": "title",
              "value": "={{$node[\"HTTP Request1\"].json[\"post\"][\"name\"]}}"
            },
            {
              "name": "content",
              "value": "={{$node[\"Content\"].json[\"text\"]}}"
            },
            {
              "name": "status",
              "value": "publish"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": []
        }
      },
      "name": "WP4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1200,
        340
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "WP Uclic.fr"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://uclic.fr/wp-json/wp/v2/producthunt/{{$node[\"WP4\"].json[\"id\"]}}",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "=json"
        },
        "bodyParametersJson": "={ \"acf\":{ \"id\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"id\"]}}\", \"day\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"day\"]}}\", \"tagline\":\"{{$node[\"Title\"].json[\"text\"]}}\", \"makerswebsite_url\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"makers\"][0][\"website_url\"]}}\", \"makersheadline\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"makers\"][0][\"headline\"]}}\",\"makersname\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"makers\"][0][\"name\"]}}\",\"votes_count\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"votes_count\"]}}\", \"logo\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"thumbnail\"][\"image_url\"]}}\",\"screenshot_url\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"screenshot_url\"][\"300px\"]}}\" } }"
      },
      "name": "WP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1380,
        340
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "WP Uclic.fr"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://uclic.fr/wp-json/wp/v2/producthunt/{{$node[\"WP2\"].json[\"id\"]}}",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "=json"
        },
        "bodyParametersJson": "={ \"acf\":{ \"id\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"id\"]}}\", \"day\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"day\"]}}\", \"tagline\":\"{{$node[\"Title\"].json[\"text\"]}}\", \"makerswebsite_url\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"makers\"][0][\"website_url\"]}}\", \"makersheadline\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"makers\"][0][\"headline\"]}}\",\"makersname\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"makers\"][0][\"name\"]}}\", \"makerstwitter_username\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"makers\"][0][\"twitter_username\"]}}\", \"makerswebsite_url1\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"makers\"][1][\"website_url\"]}}\", \"makersheadline1\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"makers\"][1][\"headline\"]}}\",\"makersname1\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"makers\"][1][\"name\"]}}\", \"makerswebsite_url2\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"makers\"][2][\"website_url\"]}}\", \"makersheadline2\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"makers\"][2][\"headline\"]}}\",\"makersname2\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"makers\"][2][\"name\"]}}\",\"votes_count\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"votes_count\"]}}\", \"logo\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"thumbnail\"][\"image_url\"]}}\",\"screenshot_url\":\"{{$node[\"HTTP Request1\"].json[\"post\"][\"screenshot_url\"][\"300px\"]}}\" } }"
      },
      "name": "WP3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1340,
        140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "WP Uclic.fr"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [],
          "string": [
            {
              "value1": "={{$node[\"Term\"].json[\"error\"][\"message\"]}}",
              "operation": "contains",
              "value2": "exis"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        740,
        260
      ]
    },
    {
      "parameters": {
        "url": "=https://api.producthunt.com/v1/posts/all?sort_by=votes_count&order=desc&search[featured_month]={{$node[\"Mois\"].json[\"mois\"]}}&search[featured_year]={{$node[\"year\"].json[\"year\"]}}&search[featured_day]={{$node[\"day\"].json[\"day\"]-2}}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer Tn9fIWlpD7KV8mqShPWsfOAPJMJbyi00vxCzWjGAReg"
            }
          ]
        }
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -520,
        240
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 8
            },
            {
              "hour": 22
            },
            {}
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1220,
        240
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "posts",
        "options": {}
      },
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -320,
        240
      ]
    },
    {
      "parameters": {
        "sheetId": "13QXJN-9B8XJOYDOSmRLIweUZonCAOVyCnzexd00c9S0",
        "options": {}
      },
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        -1000,
        380
      ],
      "credentials": {
        "googleApi": {
          "id": "1",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -100,
        240
      ]
    },
    {
      "parameters": {
        "url": "=https://api.producthunt.com/v1/posts/{{$node[\"SplitInBatches\"].json[\"id\"]}}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer Tn9fIWlpD7KV8mqShPWsfOAPJMJbyi00vxCzWjGAReg"
            }
          ]
        }
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        -20
      ]
    },
    {
      "parameters": {
        "functionCode": "var date = new Date().toISOString();\nvar day = new Date().getDay();\nconst weekday = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"];\n\nitems[0].json.date_today = date;\nitems[0].json.day_today = weekday[day];\n\nreturn items;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "position": [
        -920,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "value": "={{$node[\"Function\"].json[\"date_today\"]}}",
        "dataPropertyName": "mois",
        "toFormat": "=M",
        "options": {}
      },
      "name": "Mois",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -780,
        -20
      ]
    },
    {
      "parameters": {
        "value": "={{$node[\"Function\"].json[\"date_today\"]}}",
        "dataPropertyName": "year",
        "toFormat": "=Y",
        "options": {}
      },
      "name": "year",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -720,
        280
      ]
    },
    {
      "parameters": {
        "value": "={{$node[\"Function\"].json[\"date_today\"]}}",
        "dataPropertyName": "day",
        "toFormat": "=D",
        "options": {}
      },
      "name": "day",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        -860,
        160
      ]
    },
    {
      "parameters": {
        "text": "={{$node[\"HTTP Request1\"].json[\"post\"][\"description\"]}}",
        "translateTo": "FR",
        "additionalFields": {}
      },
      "name": "Content",
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        460,
        -240
      ],
      "credentials": {
        "deepLApi": {
          "id": "11",
          "name": "DeepL account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{$node[\"SplitInBatches\"].json[\"tagline\"]}}",
        "translateTo": "FR",
        "additionalFields": {}
      },
      "name": "Title",
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        740,
        -340
      ],
      "credentials": {
        "deepLApi": {
          "id": "11",
          "name": "DeepL account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://z29mr4aqz6vufqx87pi70sfx.hooks.n8n.cloud/webhook/51c4fa01-4647-4b87-9940-9a00faf6c8de",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "fullname",
              "value": "={{$node[\"HTTP Request1\"].json[\"post\"][\"makers\"][0][\"name\"]}}"
            },
            {
              "name": "company",
              "value": "={{$node[\"HTTP Request1\"].json[\"post\"][\"name\"]}}"
            },
            {
              "name": "twitter",
              "value": "={{$node[\"HTTP Request1\"].json[\"post\"][\"makers\"][0][\"twitter_username\"]}}"
            },
            {
              "name": "phprofil",
              "value": "={{$node[\"HTTP Request1\"].json[\"post\"][\"makers\"][0][\"username\"]}}"
            }
          ]
        }
      },
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        120,
        -280
      ]
    },
    {
      "parameters": {
        "text": "={{$node[\"HTTP Request1\"].json[\"post\"][\"description\"]}}",
        "translateTo": "FR",
        "additionalFields": {}
      },
      "name": "Content1",
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        320,
        -60
      ],
      "credentials": {
        "deepLApi": {
          "id": "11",
          "name": "DeepL account"
        }
      }
    }
  ],
  "connections": {
    "Term": {
      "main": [
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetExist": {
      "main": [
        [
          {
            "node": "WP2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateIDTerm": {
      "main": [
        [
          {
            "node": "WP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP2": {
      "main": [
        [
          {
            "node": "WP3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP4": {
      "main": [
        [
          {
            "node": "WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "SetExist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CreateIDTerm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP3": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Mois",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mois": {
      "main": [
        [
          {
            "node": "day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "year": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "day": {
      "main": [
        [
          {
            "node": "year",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content": {
      "main": [
        [
          {
            "node": "Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title": {
      "main": [
        [
          {
            "node": "Term",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-04-01T19:28:05.977Z",
  "updatedAt": "2022-11-14T10:20:18.199Z",
  "settings": {},
  "staticData": null
}