workflows/Raise - Libre Translate V2.json
{
  "id": 31,
  "name": "Raise - Libre Translate V2",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"SplitInBatches\"].context[\"noItemsLeft\"]}}"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {},
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1080,
        20
      ]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "key",
              "cssSelector": ":root"
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract1",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        720,
        -920
      ]
    },
    {
      "parameters": {
        "functionCode": "var s = $node[\"Request\"].json[\"title\"][\"rendered\"];\ns = [s.substring(0, s.indexOf('Raises')-1)];\nreturn [{json: s}];\n"
      },
      "name": "Company",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -80,
        -920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Request\"].json[\"title\"][\"rendered\"]}}",
              "operation": "contains",
              "value2": "$"
            },
            {
              "value1": "={{$node[\"Request\"].json[\"title\"][\"rendered\"]}}",
              "operation": "contains",
              "value2": "Raises"
            },
            {
              "value1": "={{$node[\"Request\"].json[\"title\"][\"rendered\"]}}",
              "operation": "contains",
              "value2": "in"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        100,
        -620
      ]
    },
    {
      "parameters": {
        "functionCode": "var s = $node[\"Request\"].json[\"title\"][\"rendered\"];\ns = [s.substring(0, s.indexOf('in'))];\nreturn [{json: s}];\n"
      },
      "name": "Raises1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        80,
        -920
      ]
    },
    {
      "parameters": {
        "functionCode": "var str = $node[\"Raises1\"].json[\"0\"];\nstr = [str.substring(str.indexOf(\"Raises\") +8)];\nreturn [{json: str}];\n"
      },
      "name": "Raises",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        240,
        -920
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Company",
              "value": "={{$node[\"Company\"].json[\"0\"]}}"
            },
            {
              "name": "Raise",
              "value": "={{$node[\"Raises\"].json[\"0\"]}}"
            },
            {
              "name": "Type",
              "value": "={{$node[\"Type\"].json[\"0\"]}}"
            },
            {
              "name": "Content",
              "value": "={{$node[\"RemoveBrand\"].json[\"0\"]}}"
            },
            {
              "name": "Title",
              "value": "={{$node[\"Company\"].json[\"0\"]}} lève {{$node[\"Raises\"].json[\"0\"]}} - {{$node[\"Type\"].json[\"0\"]}}"
            },
            {
              "name": "ID",
              "value": "={{$node[\"Request\"].json[\"id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1880,
        -680
      ]
    },
    {
      "parameters": {
        "functionCode": "var str = $node[\"Request\"].json[\"title\"][\"rendered\"];\nstr = [str.substring(str.indexOf(\" in \") +4)];\nreturn [{json: str}];\n"
      },
      "name": "Type",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        400,
        -920
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "data",
              "value": "={{$node[\"Request\"].json[\"content\"][\"rendered\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        560,
        -920
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://translate.uclic.fr/translate",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "q",
              "value": "={{$node[\"HTML Extract1\"].json[\"key\"]}}"
            },
            {
              "name": "source",
              "value": "en"
            },
            {
              "name": "target",
              "value": "fr"
            }
          ]
        }
      },
      "name": "Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        880,
        -920
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://translate.uclic.fr/translate",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "q",
              "value": "={{$node[\"Request\"].json[\"title\"][\"rendered\"]}}"
            },
            {
              "name": "source",
              "value": "en"
            },
            {
              "name": "target",
              "value": "fr"
            }
          ]
        }
      },
      "name": "Title",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1060,
        -720
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://translate.uclic.fr/translate",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "q",
              "value": "={{$node[\"Company\"].json[\"0\"]}}"
            },
            {
              "name": "source",
              "value": "en"
            },
            {
              "name": "target",
              "value": "fr"
            }
          ]
        }
      },
      "name": "TranslateCompanyFix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1260,
        -920
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "someString = $node[\"Content\"].json[\"translatedText\"];\npasok = $node[\"TranslateCompanyFix\"].json[\"translatedText\"];\nok = $node[\"Company\"].json[\"0\"];\nanotherString = [someString.replace(pasok, ok)];\nreturn [{json: anotherString}];\n"
      },
      "name": "FixCompanyName",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1460,
        -920
      ]
    },
    {
      "parameters": {
        "functionCode": "var str = $node[\"FixCompanyName\"].json[\"0\"];\nstr = [str.substring(0, str.length - 24)];\nreturn [{json: str}];\n"
      },
      "name": "RemoveBrand",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1640,
        -920
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "1c8kBO5x3D7QmUqo-9c1OIM-drRuDumB82tIjvZiVe2k",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        2080,
        -680
      ],
      "credentials": {
        "googleApi": {
          "id": "1",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -600,
        -380
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "myTest",
              "value": "=https://www.finsmes.com/wp-json/wp/v2/posts/{{$node[\"SplitInBatches\"].json[\"id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -380,
        -360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Request\"].json[\"error\"][\"error\"][\"message\"]}}",
              "operation": "contains",
              "value2": "Invalid"
            }
          ]
        }
      },
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        -620
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Set1\"].json[\"myTest\"]}}",
        "options": {}
      },
      "name": "Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -80,
        -360
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "1c8kBO5x3D7QmUqo-9c1OIM-drRuDumB82tIjvZiVe2k",
        "lookupColumn": "ID",
        "lookupValue": "={{$node[\"Request\"].json[\"id\"]}}",
        "options": {
          "continue": "=true"
        }
      },
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        320,
        -620
      ],
      "credentials": {
        "googleApi": {
          "id": "1",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [],
          "boolean": [
            {
              "value1": "={{$node[\"Google Sheets1\"].json[\"ID\"].length>0}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IFexist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        540,
        -620
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://uclic.fr/wp-json/wp/v2/typelevee?name={{$node[\"Type\"].json[\"0\"]}}",
        "options": {},
        "bodyParametersUi": {
          "parameter": []
        },
        "queryParametersUi": {
          "parameter": []
        }
      },
      "name": "Term",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1260,
        -360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "WP Uclic.fr"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{$node[\"Term\"].json[\"error\"][\"error\"][\"additional_data\"][0]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "SetExist",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1780,
        -440
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [],
          "number": [
            {
              "name": "id",
              "value": "={{$node[\"Term\"].json[\"id\"]}}"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "name": "CreateIDTerm",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1780,
        -260
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://uclic.fr/wp-json/wp/v2/levee",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "typelevee",
              "value": "={{$node[\"SetExist\"].json[\"id\"]}}"
            },
            {
              "name": "title",
              "value": "={{$node[\"Company\"].json[\"0\"]}} lève {{$node[\"Raises\"].json[\"0\"]}} - {{$node[\"Type\"].json[\"0\"]}}"
            },
            {
              "name": "content",
              "value": "={{$node[\"RemoveBrand\"].json[\"0\"]}}"
            },
            {
              "name": "status",
              "value": "publish"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": []
        }
      },
      "name": "WP2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2040,
        -440
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "WP Uclic.fr"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://uclic.fr/wp-json/wp/v2/levee",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "typelevee",
              "value": "={{$node[\"CreateIDTerm\"].json[\"id\"]}}"
            },
            {
              "name": "title",
              "value": "={{$node[\"Company\"].json[\"0\"]}} lève {{$node[\"Raises\"].json[\"0\"]}} - {{$node[\"Type\"].json[\"0\"]}}"
            },
            {
              "name": "content",
              "value": "={{$node[\"RemoveBrand\"].json[\"0\"]}}"
            },
            {
              "name": "status",
              "value": "publish"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": []
        }
      },
      "name": "WP4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2040,
        -260
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "WP Uclic.fr"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://uclic.fr/wp-json/wp/v2/levee/{{$node[\"WP4\"].json[\"id\"]}}",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "=json"
        },
        "bodyParametersJson": "={ \"acf\":{ \"id\":\"{{$node[\"Request\"].json[\"id\"]}}\", \"date\":\"{{$node[\"Request\"].json[\"date\"]}}\", \"company\":\"{{$node[\"Company\"].json[\"0\"]}}\", \"raise\":\"{{$node[\"Raises\"].json[\"0\"]}}\", \"type\":\"{{$node[\"Type\"].json[\"0\"]}}\",\"img\":\"{{$node[\"Request1\"].json[\"media_details\"][\"file\"]}}\" } }"
      },
      "name": "WP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2340,
        -260
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "WP Uclic.fr"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://uclic.fr/wp-json/wp/v2/levee/{{$node[\"WP2\"].json[\"id\"]}}",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "=json"
        },
        "bodyParametersJson": "={ \"acf\":{ \"id\":\"{{$node[\"Request\"].json[\"id\"]}}\", \"date\":\"{{$node[\"Request\"].json[\"date\"]}}\", \"company\":\"{{$node[\"Company\"].json[\"0\"]}}\", \"raise\":\"{{$node[\"Raises\"].json[\"0\"]}}\", \"type\":\"{{$node[\"Type\"].json[\"0\"]}}\",\"img\":\"{{$node[\"Request1\"].json[\"media_details\"][\"file\"]}}\" } }"
      },
      "name": "WP3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2340,
        -440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "WP Uclic.fr"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [],
          "string": [
            {
              "value1": "={{$node[\"Term\"].json[\"error\"][\"error\"][\"code\"]}}",
              "operation": "contains",
              "value2": "exis"
            },
            {
              "value1": "={{$node[\"Trad Description\"].json[\"translations\"][0][\"text\"]}}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1580,
        -360
      ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Request\"].json[\"_links\"][\"wp:featuredmedia\"][0][\"href\"]}}",
        "options": {}
      },
      "name": "Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -260,
        -800
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const newItems = [];\nvar val = $node[\"HTTP Request\"].json[\"0\"][\"id\"]+20;\n\nfor (let i=0;i<200;i++) {\n  newItems.push({json: {number: val-i}})\n}\nreturn newItems;"
      },
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -840,
        -720
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://finsmes.com/wp-json/wp/v2/posts?order=desc&status=publish&per_page=100",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -1020,
        -460
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1220,
        -440
      ]
    },
    {
      "parameters": {
        "functionCode": "return items[0].json.map(item => {\n  return {\n    json: item\n  }\n});\n"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -820,
        -460
      ]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "key",
              "cssSelector": "a",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1220,
        -1100
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "data",
              "value": "={{$node[\"Request\"].json[\"content\"][\"rendered\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1040,
        -1100
      ]
    }
  ],
  "connections": {
    "IF1": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract1": {
      "main": [
        [
          {
            "node": "Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company": {
      "main": [
        [
          {
            "node": "Raises1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raises1": {
      "main": [
        [
          {
            "node": "Raises",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raises": {
      "main": [
        [
          {
            "node": "Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Type": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "HTML Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title": {
      "main": [
        [
          {
            "node": "TranslateCompanyFix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TranslateCompanyFix": {
      "main": [
        [
          {
            "node": "FixCompanyName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FixCompanyName": {
      "main": [
        [
          {
            "node": "RemoveBrand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RemoveBrand": {
      "main": [
        []
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Term",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "IFexist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IFexist": {
      "main": [
        [
          {
            "node": "Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Term": {
      "main": [
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetExist": {
      "main": [
        [
          {
            "node": "WP2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateIDTerm": {
      "main": [
        [
          {
            "node": "WP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP2": {
      "main": [
        [
          {
            "node": "WP3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP4": {
      "main": [
        [
          {
            "node": "WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP3": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "SetExist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CreateIDTerm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request1": {
      "main": [
        [
          {
            "node": "Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-09T08:22:43.517Z",
  "updatedAt": "2022-11-09T08:40:39.591Z",
  "settings": {},
  "staticData": null
}