workflows/Tehtris - Bounty.json
{
  "createdAt": "2022-11-22T20:29:46.598Z",
  "updatedAt": "2022-12-02T16:24:46.066Z",
  "id": 10,
  "name": "Tehtris - Bounty",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "c0cdefd4-96ad-4b45-abc8-bd2ffe072395",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        40
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/arkadiyt/bounty-targets-data/main/data/intigriti_data.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "7dd5e77d-1fee-43d2-8154-cf9d35595fa8",
      "name": "HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -160,
        40
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1YOrAO7LOZwM-LAopkS5uketXWa3FvDsb5fH4Qvcbxi0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1329029926,
          "mode": "list",
          "cachedResultName": "Bounty",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOrAO7LOZwM-LAopkS5uketXWa3FvDsb5fH4Qvcbxi0/edit#gid=1329029926"
        },
        "dataMode": "autoMapInputData",
        "columnToMatchOn": "id",
        "options": {}
      },
      "id": "eca38bf9-2ddc-474e-be66-6707fc5e0d04",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        880,
        -60
      ],
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{$node[\"HTTP\"].json[\"id\"]}}"
            },
            {
              "name": "name",
              "value": "={{$node[\"HTTP\"].json[\"name\"]}}"
            },
            {
              "name": "company_handle",
              "value": "={{$node[\"HTTP\"].json[\"company_handle\"]}}"
            },
            {
              "name": "handle",
              "value": "={{$node[\"HTTP\"].json[\"handle\"]}}"
            },
            {
              "name": "url",
              "value": "={{$node[\"HTTP\"].json[\"url\"]}}"
            },
            {
              "name": "status",
              "value": "={{$node[\"HTTP\"].json[\"status\"]}}"
            },
            {
              "name": "min_bounty",
              "value": "={{$node[\"HTTP\"].json[\"min_bounty\"][\"value\"]}}"
            },
            {
              "name": "max_bounty",
              "value": "={{$node[\"HTTP\"].json[\"max_bounty\"][\"value\"]}}"
            },
            {
              "name": "targets",
              "value": "={{$node[\"HTTP\"].json[\"targets\"][\"in_scope\"][0][\"endpoint\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "2561eac0-9d4e-4c26-af87-44276c204172",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        100,
        40
      ]
    },
    {
      "parameters": {
        "url": "=https://api.scaleserp.com/search?api_key=9520585A24A54A62BBAB7F7BDC17BD0C&q=site%3Alinkedin.com%2Fin%2F+{{$node[\"HTTP\"].json[\"company_handle\"]}}+CISO",
        "options": {}
      },
      "id": "48ebfe43-5727-4f99-a294-8dcde2d9d446",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        320,
        40
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Google Sheets1": {
      "main": [
        []
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "pinData": {},
  "tags": [],
  "hash": "43bb6eab982726fca1729c304843d16c"
}