workflows/Twitter.json
{
  "createdAt": "2022-11-21T14:00:52.382Z",
  "updatedAt": "2022-11-21T20:17:05.110Z",
  "id": 5,
  "name": "Twitter",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -820,
        160
      ],
      "id": "54079376-ce72-4a5a-8679-4834ed285ee0"
    },
    {
      "parameters": {
        "url": "=https://api.producthunt.com/v1/posts/{{$node[\"Webhook\"].json[\"query\"][\"id\"]}}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer Tn9fIWlpD7KV8mqShPWsfOAPJMJbyi00vxCzWjGAReg"
            }
          ]
        }
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -580,
        140
      ],
      "id": "64e1996b-ccde-47fc-9626-d79a36b4be0f"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "twitter",
              "value": "={{$node[\"HTTP Request\"].json[\"post\"][\"makers\"][0][\"twitter_username\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -360,
        140
      ],
      "id": "c85eb057-6eee-4022-8f91-da4bf76e257b"
    },
    {
      "parameters": {
        "path": "twitter",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -740,
        -20
      ],
      "webhookId": "f8a018ce-df3c-477e-9da5-38866ba002fc",
      "id": "b9c55ecd-af60-420a-a779-fdb9675919ea"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -60,
        100
      ],
      "id": "9af84fe7-efad-4e0f-be33-626fed05c3cf"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "pinData": {},
  "tags": [],
  "hash": "aa115e5371e94ccdff717e4d17a3b28a"
}