workflows/Uclic - Comment.json
{
  "id": 28,
  "name": "Uclic - Comment",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -300,
        380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM wpu9_posts p INNER JOIN wpu9_postmeta pm ON p.ID = pm.post_ID WHERE post_type = 'producthunt' AND post_status = 'publish' AND pm.meta_key = 'id'"
      },
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -240,
        -200
      ],
      "credentials": {
        "mySql": {
          "id": "7",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.producthunt.com/v1/comments?search[post_id]={{$node[\"Wordpress\"].json[\"meta_value\"]}}",
        "options": {
          "fullResponse": true
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer Tn9fIWlpD7KV8mqShPWsfOAPJMJbyi00vxCzWjGAReg"
            }
          ]
        }
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        400,
        -200
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=body.comments",
        "include": "selectedOtherFields",
        "fieldsToInclude": {
          "fields": [
            {
              "fieldName": "post.id"
            }
          ]
        },
        "options": {}
      },
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        620,
        -180
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        900,
        -180
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{$node[\"SplitInBatches\"].json[\"post.comments\"][\"user\"][\"name\"]}}"
            },
            {
              "name": "Comment",
              "value": "={{$node[\"DeepL body\"].json[\"text\"]}}"
            },
            {
              "name": "Date",
              "value": "={{$node[\"SplitInBatches\"].json[\"post.comments\"][\"created_at\"]}}"
            },
            {
              "name": "id",
              "value": "={{$node[\"SplitInBatches\"].json[\"post.id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1360,
        -180
      ]
    },
    {
      "parameters": {
        "text": "={{$node[\"SplitInBatches\"].json[\"post.comments\"][\"body\"]}}",
        "translateTo": "FR",
        "additionalFields": {}
      },
      "name": "DeepL body",
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        1140,
        -360
      ],
      "credentials": {
        "deepLApi": {
          "id": "11",
          "name": "DeepL account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"SplitInBatches\"].context[\"noItemsLeft\"]}}"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1620,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://uclic.fr/wp-json/wp/v2/producthunt/{{$node[\"Wordpress\"].json[\"ID\"]}}",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "=json"
        },
        "bodyParametersJson": "={\"acf\":{\"commentaire\":\"{{$node[\"Get\"].json[\"meta_value\"]}} <br/> {{$node[\"Set\"].json[\"Name\"]}} \"}}"
      },
      "name": "WP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1760,
        -180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "WP Uclic.fr"
        }
      },
      "continueOnFail": true,
      "notes": "https://uclic.fr/wp-json/wp/v2/producthunt/{{$node[\"Wordpress\"].json[\"ID\"]}}"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "name": "Wordpress",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        120,
        -200
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT meta_value FROM wpu9_posts p INNER JOIN wpu9_postmeta pm ON p.ID = pm.post_ID WHERE post_type = 'producthunt' AND post_status = 'publish' AND p.ID = '{{$node[\"Wordpress\"].json[\"ID\"]}}' AND pm.meta_key = 'commentaire' ORDER BY `post_type` DESC"
      },
      "name": "Get",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1540,
        -180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "7",
          "name": "MySQL account"
        }
      },
      "continueOnFail": true,
      "notes": "SELECT * FROM wpu9_posts p INNER JOIN wpu9_postmeta pm ON p.ID = pm.post_ID WHERE post_type = 'producthunt' AND post_status = 'publish' AND p.ID = '48582' AND pm.meta_key = 'comment_0_comment_name' ORDER BY `post_type` DESC\n"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Wordpress\"].json[\"meta_value\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "MetaVALUE",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        240,
        -380
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        360,
        380
      ],
      "webhookId": "0c3bb708-e0c5-4625-84f4-267c75502389"
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "webhookId": "04d95f33-a9af-4209-bf3b-85a70c7ca305"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepL body": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        [
          {
            "node": "MetaVALUE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "main": [
        [
          {
            "node": "WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MetaVALUE": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "DeepL body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-04T12:50:41.714Z",
  "updatedAt": "2022-11-04T18:37:13.520Z",
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null
}