workflows/Uclic.fr - Clean WP Page.json
{
  "id": 17,
  "name": "Uclic.fr - Clean WP Page",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "sheetId": "1na41WWP48wBMry5v5hHHyzrztqvBayhdjGDHnRyJupo",
        "range": "Table!A:F",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        380,
        120
      ],
      "credentials": {
        "googleApi": {
          "id": "1",
          "name": "Google account"
        }
      },
      "notes": "Remove Index Problem : 1ZonWQDF5O2eF1Ge9JK0C1766B-WEq5LQsk2rJqyONko\n\nZombie : 1na41WWP48wBMry5v5hHHyzrztqvBayhdjGDHnRyJupo\n"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        580,
        120
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": "1na41WWP48wBMry5v5hHHyzrztqvBayhdjGDHnRyJupo",
        "range": "Table!A:F",
        "options": {}
      },
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        1180,
        400
      ],
      "credentials": {
        "googleApi": {
          "id": "1",
          "name": "Google account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"SplitInBatches\"].json[\"ok\"]}}",
              "operation": "contains",
              "value2": "ok"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM wpu9_posts where post_status=\"publish\" AND guid=\"{{$node[\"SplitInBatches\"].json[\"URL\"]}}\" ORDER BY `guid` ASC"
      },
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        720,
        500
      ],
      "credentials": {
        "mySql": {
          "id": "7",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "ok",
              "value": "ok"
            }
          ],
          "number": [
            {
              "name": "id",
              "value": "={{$node[\"SplitInBatches\"].context[\"currentRunIndex\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1000,
        180
      ]
    },
    {
      "parameters": {
        "amount": 0.5,
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        280,
        580
      ],
      "webhookId": "310bd09b-070b-4d27-9b3b-2f8439492d2a"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        60,
        140
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-06-02T18:22:51.123Z",
  "updatedAt": "2022-11-02T20:23:29.066Z",
  "settings": {},
  "staticData": null
}