workflows/Uclic - Comment.json
{
  "id": 28,
  "name": "Uclic - Comment",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -300,
        380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM wpu9_posts p INNER JOIN wpu9_postmeta pm ON p.ID = pm.post_ID WHERE post_type = 'producthunt' AND post_status = 'publish' AND pm.meta_key = 'id'"
      },
      "name": "MySQL1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -100,
        -200
      ],
      "credentials": {
        "mySql": {
          "id": "7",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.producthunt.com/v1/posts/{{$node[\"Wordpress\"].json[\"meta_value\"]}}",
        "options": {
          "fullResponse": false
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer Tn9fIWlpD7KV8mqShPWsfOAPJMJbyi00vxCzWjGAReg"
            }
          ]
        }
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        400,
        -180
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=post.comments",
        "include": "selectedOtherFields",
        "fieldsToInclude": {
          "fields": [
            {
              "fieldName": "post.id"
            }
          ]
        },
        "options": {}
      },
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        620,
        -180
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        880,
        -180
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{$node[\"SplitInBatches\"].json[\"post.comments\"][\"user\"][\"name\"]}}"
            },
            {
              "name": "Comment",
              "value": "={{$node[\"DeepL body\"].json[\"text\"]}}"
            },
            {
              "name": "Date",
              "value": "={{$node[\"SplitInBatches\"].json[\"post.comments\"][\"created_at\"]}}"
            },
            {
              "name": "id",
              "value": "={{$node[\"SplitInBatches\"].json[\"post.id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1360,
        -180
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": "1XwxPvH-0NCe6OqUj9E12odFZwk8qEJbfCCgS0x6Hr7w",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        2040,
        -80
      ],
      "credentials": {
        "googleApi": {
          "id": "1",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{$node[\"SplitInBatches\"].json[\"post.comments\"][\"body\"]}}",
        "translateTo": "FR",
        "additionalFields": {}
      },
      "name": "DeepL body",
      "type": "n8n-nodes-base.deepL",
      "typeVersion": 1,
      "position": [
        1160,
        -180
      ],
      "credentials": {
        "deepLApi": {
          "id": "11",
          "name": "DeepL account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"SplitInBatches\"].context[\"noItemsLeft\"]}}"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1620,
        400
      ]
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "1XwxPvH-0NCe6OqUj9E12odFZwk8qEJbfCCgS0x6Hr7w",
        "lookupColumn": "id",
        "lookupValue": "={{$node[\"SplitInBatches\"].json[\"post.id\"]}}",
        "options": {
          "returnAllMatches": true
        }
      },
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        1820,
        400
      ],
      "credentials": {
        "googleApi": {
          "id": "1",
          "name": "Google account"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        2020,
        420
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT meta_value FROM wpu9_posts p INNER JOIN wpu9_postmeta pm ON p.ID = pm.post_ID WHERE post_type = 'producthunt' AND post_status = 'publish' AND p.ID = '{{$node[\"Wordpress\"].json[\"ID\"]}}' AND pm.meta_key = 'commentaire' ORDER BY `post_type` DESC"
      },
      "name": "MetaID",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1540,
        -180
      ],
      "credentials": {
        "mySql": {
          "id": "7",
          "name": "MySQL account"
        }
      },
      "notes": "SELECT * FROM wpu9_posts p INNER JOIN wpu9_postmeta pm ON p.ID = pm.post_ID WHERE post_type = 'producthunt' AND post_status = 'publish' AND p.ID = '48582' AND pm.meta_key = 'comment_0_comment_name' ORDER BY `post_type` DESC\n"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "=https://uclic.fr/wp-json/wp/v2/producthunt/11314",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "=json"
        },
        "bodyParametersJson": "={\"acf\":{\"comment_0_comment_name\":\"ok\"}}"
      },
      "name": "WP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        400,
        380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "WP Uclic.fr"
        }
      },
      "continueOnFail": true,
      "notes": "https://uclic.fr/wp-json/wp/v2/producthunt/{{$node[\"Wordpress\"].json[\"ID\"]}}"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Wordpress",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        120,
        -200
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "DeepL body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "MetaID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepL body": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-04T12:50:41.714Z",
  "updatedAt": "2022-11-04T17:59:50.600Z",
  "settings": {},
  "staticData": null
}