workflows/Uclic.fr - Clean WP Page.json
{
  "createdAt": "2022-11-21T13:57:12.899Z",
  "updatedAt": "2022-11-21T14:00:03.947Z",
  "id": 3,
  "name": "Uclic.fr - Clean WP Page",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        520,
        80
      ],
      "id": "c71ec77e-1ec9-4c3b-99f8-05c17aa9397d"
    },
    {
      "parameters": {
        "sheetId": "1na41WWP48wBMry5v5hHHyzrztqvBayhdjGDHnRyJupo",
        "range": "Table!A:F",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        660,
        -100
      ],
      "id": "c6208110-9c8e-4612-bd53-d59ef62449f5",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "Google account"
        }
      },
      "notes": "Remove Index Problem : 1ZonWQDF5O2eF1Ge9JK0C1766B-WEq5LQsk2rJqyONko\n\nZombie : 1na41WWP48wBMry5v5hHHyzrztqvBayhdjGDHnRyJupo\n"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        860,
        -100
      ],
      "id": "2bf1d30f-b128-472a-9fd5-03cb9c7f99a5"
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": "1na41WWP48wBMry5v5hHHyzrztqvBayhdjGDHnRyJupo",
        "range": "Table!A:F",
        "options": {}
      },
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        1460,
        180
      ],
      "id": "a6656a26-c897-4c85-b10c-7442ffbe6c7c",
      "credentials": {
        "googleApi": {
          "id": "3",
          "name": "Google account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"SplitInBatches\"].json[\"ok\"]}}",
              "operation": "contains",
              "value2": "ok"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        960,
        60
      ],
      "id": "f520714a-26c2-4aef-97c2-a72c2fe8931d"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=DELETE FROM wpu9_posts where post_status=\"publish\" AND guid=\"{{$node[\"SplitInBatches\"].json[\"URL\"]}}\" ORDER BY `guid` ASC"
      },
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1000,
        280
      ],
      "id": "3a37285e-abc4-49c9-ba8b-5d85b42ef49a",
      "credentials": {
        "mySql": {
          "id": "4",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "ok",
              "value": "ok"
            }
          ],
          "number": [
            {
              "name": "id",
              "value": "={{$node[\"SplitInBatches\"].context[\"currentRunIndex\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1280,
        -40
      ],
      "id": "49959e17-7924-48e9-bdd0-32a17587a36e"
    },
    {
      "parameters": {
        "amount": 0.5,
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        560,
        360
      ],
      "webhookId": "310bd09b-070b-4d27-9b3b-2f8439492d2a",
      "id": "174ad002-2e01-4573-9923-163003bb2d50"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        140,
        -100
      ],
      "id": "f3242883-8385-4f93-8398-f46096869b87"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "pinData": {},
  "tags": [],
  "hash": "6a13244e85e429c48ce03217c5195c91"
}